.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;
  padding: 0.5rem;
}

h1 {
  text-align: center;
}

#newtask-btn {
  padding: 1rem;
  font-size: 1.5rem;
  color: blue;
}

ul {
  list-style-type: none;
  padding: 1rem;
}

li.todo {
  background-color: yellow;
}

footer {
 padding: 0.5rem;
  font: small-caption;
  color: white;
  background-color: darkslategray;
}

footer a {
  color: lightblue;
}
