.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;
  padding: 0.5rem;
  max-width: 40rem;
  margin: auto;
}

h1,h2,h3 {
  text-align: center;
}

button {
  padding: 0.5rem;
}

#newtask-btn {
  padding: 1rem;
  font-size: 1.5rem;
  color: blue;
}

.error {
  color: darkred;
}

.bg-danger {
  background-color: lightsalmon;
}

.box-wip {
  background-color: orange;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

ul {
  list-style-type: none;
  padding: 1rem;
}

li.taskbox {
  background-color: yellow;
  padding: 0.5rem;
  border: 1px black solid;
}

li.taskbox.Todo {
  transform: translateX(-2rem);
}

li.taskbox.Done {
  transform: translateX(2rem);
}

li.taskbox div {
  display: flex;
  justify-content: space-evenly;
}

li.taskbox button {
  padding: 0.25rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin-left: 2rem;
  margin-right: 2rem;
}

nav a {
  margin: 0.5rem;
}

footer {
  padding: 0.5rem;
  font: small-caption;
  color: white;
  background-color: darkslategray;
}

footer a {
  color: lightblue;
}
